/*body{
    background-image: url("/public/Images/white.jpg");
}*/

.coloredcard_comment {
    background-color: #C0D6E4;
    margin-bottom: 15px;
    padding: 1% 2% 3px 2%;
    border-radius: 15px;
}

.coloredcard {
    margin: 5% auto;
    width: 100%;
    padding: 15px;
    border-radius: 15px;
}

.about {
    width: 100%;
    margin: 2% auto;
}

img {
    #illustrations {
        height: 100%;
        width: 100%;
    }

    #creation_illustrations {
        height: 40%;
    }

    #swipe_gesture {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.btn, .btn-flat {
    text-align: center;
    display: block;
    margin: 1% auto;
}

legend {
    font-weight: bold;
    font-size: 24px;
    font-family: Helvetica, serif;
}

.title_no_connection {
    text-align: center;
}

.search_nav {
    box-shadow: 0 0 0 transparent;
}

.badge-responsive-small {
    display: none;
}

table.list_lat {

    margin-top: 10px;
    border-radius: 8px;
    width: 100%;

    th {
        text-align: center;
    }
}

.card {
    width: 100%;
}

.button_post {
    margin-right: 5px;
}

.button-responsive-small {
    display: none;
}

table {
    margin-bottom: 5%;
}

.nav-wrapper a.brand-logo {
    height: 64px;
    width: 64px;

    img {
        height: 100%;
        width: 100%;
        background-color: white;
        border-radius: 20px;
    }
}

.card-image-tutorial img {
    height: 55px;
    margin: 10px;
}

.card-image-forum {
    width: 20px;
}

@media screen and (max-width: 993px) {
    .list_lat {
        display: none;
    }

    .cards-homes {
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media screen and (max-width: 600px) {

    .about {
        text-align: center;
    }

    .coloredcard_comment {
        .right {
            margin-right: 3%;
        }

        .left {
            margin-left: 3%;
        }
    }

    .card-image-tutorial {
        img {
            height: 35px;
            margin: 10px;
        }

        width: 55px;
    }

    .badge-responsive-large {
        display: none;
    }

    .button-responsive-large {
        display: none;
    }

    .button-responsive-small {
        display: block;
    }

    .button_post {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .badge-responsive-small {
        display: block;
        margin-left: 3%;
        margin-right: 3%;
    }

    .nav-wrapper a.brand-logo {
        height: 56px;
        width: 56px;
    }

    .coloredcard_comment {
        margin-bottom: 2%;
        padding: 2%;
        border-radius: 15px;
    }

    table.admin-users {
        thead {
            display: none;
        }
    }
}

@media screen and (max-width: 560px) {
    .card-action .row {
        text-align: center;
    }

    .coloredcard_comment .left span {
        font-size: 80%;
    }
}