<table class="highlight striped centered blue lighten-4 list_lat">
    {% for category in categories %}
        <tr>
            <td>
                <a href="{{ path('category.list', {id: category.id, label: category.label }) }}">
                    <div class="row">
                        <div class="center">
                            <img style="width: 35px;" src="{{ asset('Images/icons_categories/' ~ category.id ~ '.svg') }}" alt="">
                        </div>
                        <div class="center">
                            {{ category.label }}
                        </div>
                    </div>
                </a>
            </td>
        </tr>
    {% endfor %}
</table>