{% macro show(comment) %}
    {% import 'paterns/macros/chips.html.twig' as chips %}
    <div class="coloredcard_comment">
        <div class="row">
            <div class="left">
                {{ chips.show(comment.idUser) }}<br>{{ comment.content|nl2br }}
            </div>
            <div class="right">
                <span class="new badge" data-badge-caption="">{{ comment.dateResponse|date("d/m/Y") }}</span>
            </div>
        </div>
    </div>
{% endmacro %}