{% macro success(message) %}
    <div class="card-panel green lighten-2 flash">
        {{ message }}
    </div>
{% endmacro %}

{% macro error(message) %}
    <div class="card-panel red lighten-2 flash">
        {{ message }}
    </div>
{% endmacro %}